{
    "parser": "babel-eslint",
    "extends": [
        "standard",
        "standard-react"
    ],
    "env": {
        "browser": true,
        "es6": true
    },
    "ecmaFeatures": {
        "jsx": true,
        "spread": true,
        "destructuring": true,
        "restParams": true
    },
    "globals": {
        "__DEV__": false,
        "__PROD__": false,
        "__DEBUG__": false,
        "__DEBUG_NEW_WINDOW__": false,
        "__BASENAME__": false,
        "React": true,
        "ReactDOM": true
    },
    "rules": {
        "semi": [ 2, "always" ],
        "react-in-jsx-scope": 0,
        "spaced-comment": 0,
        "quotes": 0,
        "space-before-function-paren": 0,
        "indent": 0,
        "brace-style": 0,
        "padded-blocks": 0,
        "react/prop-types": 0
    }
}
